{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 booking">
    <div class="row justify-content-center">
      <!-- Booking Does Not Exist -->

      <div class="col-md-8 mt-3">
        <div class="row px-3 px-sm-0">

          <h2 class="px-0">Item Does Not Exist</h2>
          <div class="col col-md-4 d-grid gap-3 px-0">
            <h3 class="mb-3 px-0 fs-6">Make a new booking?</h3>
            <a class="btn btn-outline-primary" href="/booking/{{ obj.slug }}/" aria-label="Book Now">Book Now</a>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
