{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 booking">
    <div class="row justify-content-center">
      <!-- Booking Customer Spots Filled -->

      <div class="col-md-6 mt-3">
        <div class="row">

          <h2 class="px-0">Oh.No..</h2>
          <h3 class="mb-3 px-0 fs-6">All spots are filled on {{ date_time }}</h3>
          <a class="btn btn-outline-primary btn-sm" href="javascript:history.back()" aria-label="Go Back">Go Back</a>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
