{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 booking">
    <div class="row justify-content-center">
      <!-- Booking Does Not Exist -->

      <div class="col-md-8 mt-3">
        <!-- <div class="row"> -->

          <h2 class="px-0">{{ company }}</h2>
          <div class="col d-grid gap-1">
            <h3 class="mt-0">Does not exist!</h3>
            <h4 class="mb-3 px-0 fs-6">Please check the URL given to you.</h4>
          </div>

        <!-- </div> -->
      </div>
    </div>
  </div>

{% endblock content %}
