/* Overall Styles */

:root {
    --dark-color: #05284d;
}

body {
    background-color: #F9FAFC;
}

h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-color);
}

.thin {
    font-weight: 300;
}

.fa-brands, .fab {
    font-style: normal;
    color: white;
  }

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: var(--dark-color);
}

.main-bg {
    background-color: #F9FAFC;
}

input {
    width: 100%;
    padding: .3rem 1rem;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: .3rem;
}

input[type="checkbox"] {
    width: auto;
}

/* Index Page Styles */

.bg-dark {
    background-color: var(--dark-color) !important;
  }

/* Company Pages Styles */

.company_form > .btn,
.login > .btn,
.signup > .btn {
    width: 100%;
}

.btn-offcanvas {
    width: 100%;
    margin-bottom: 4rem;
}

#edit_current_image, .company_form {
    margin: 0!important;
}

.company h6 {
    margin-bottom: 2rem;
}

div#div_id_booking_status {
    margin-bottom: 0!important;
}

/* Booking Form Page Styles */

.booking h2 {
    font-size: clamp(2rem, 4vw, 80px);
    font-weight: 800;
}

.booking h6 {
    font-weight: 700;
}

p.street {
    margin: 0;
}

.bd-highlight {
    width: 100%;
}

#map {
    height: 100%;
}

/* Error Page Styles */

.error h2 {
    font-size: clamp(2rem, 4vw, 80px);
    font-weight: 800;
}