body {
    background-color: #F9FAFC;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #05284d;
}

.thin {
    font-weight: 300;
}

.fa-brands, .fab {
    font-style: normal;
    color: white;
  }

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #05284d;
}

.main-bg {
    background-color: #F9FAFC;
}

.content {
    margin: 1.6rem 10% 3.2rem;
}

input {
    width: 100%;
    padding: .3rem 1rem;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: .3rem;
}

input[type="checkbox"] {
    width: auto;
}

.company_form > .btn,
.login > .btn,
.signup > .btn {
    width: 100%;
}

.btn-offcanvas {
    width: 100%;
    margin-bottom: 4rem;
}

#edit_current_image, .company_form {
    margin: 0!important;
}
