{% block content %}

{% load crispy_forms_tags %}

  <h2 class="mb-3">Booking List</h2>

  <table class="table mb-5">
    <thead class="table-primary">
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Spots</th>
        <th scope="col">Customer</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in page_bookings %}
        <tr class="align-middle text-center">
          <th class="table-primary" scope="row">{{ booking.id }}</th>
          {% if not forloop.counter|divisibleby:2 %}
          <td class="table-light">{{ booking.date_time }}</td>
          <td class="table-light">{{ booking.spots }}</td>
          <td class="table-light">{{ booking.customer }}</td>
          {% elif forloop.counter|divisibleby:2 %}
          <td class="table-secondary">{{ booking.date_time }}</td>
          <td class="table-secondary">{{ booking.spots }}</td>
          <td class="table-secondary">{{ booking.customer }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page pagination">
    <ul class="pagination justify-content-center">
      {% if page_bookings.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_bookings.previous_page_number }}">
          Previous
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_bookings.previous_page_number }}">
          {{ page_bookings.previous_page_number }}
        </a>
      </li>
      {% endif %}

      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ page_bookings.number }}
        </span>
      </li>

      {% if page_bookings.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_bookings.next_page_number }}">
          {{ page_bookings.next_page_number }}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_bookings.next_page_number }}">
          Next
        </a>
      </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_bookings.paginator.num_pages }}">
            last &raquo;
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock content %}