{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 company">
    <div class="row justify-content-center">
      <!-- Company Delete -->

      <div class="col-md-6 mt-3">
        <div class="row">

        {% if user.is_authenticated %}

          {% if not deleted_user %}

          <h2>Delete: {{ company }}</h2>

          <h6>Are you sure you want to delete your account?</h6>
          <form method="post">
            {% csrf_token %}
            <div class="btn-group w-100" role="group" aria-label="Form buttons">
              <a class="btn btn-primary" href="{% url 'company_account' %}">This Is A Mistake</a>
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </div>
          </form>

          {% else %}

          <div class="alert alert-success" role="alert">
            <strong>{{ deleted_user }}</strong> with all <strong>{{ deleted_company }}</strong> company image, details & bookings if any, <strong>has been deleted!</strong>
          </div>
          <script>
            setTimeout(function (){
              window.location.replace("/");
            }, 5000);
          </script>

          {% endif %}

        {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
