{% extends "base.html" %}

{% block content %}
{{ google_api_key|json_script:'google_api_key' }}
{% load static %}
<script type="text/javascript" src="{% static 'js/google_places.js' %}"></script>
{% load crispy_forms_tags %}

<div class="container">
  <div class="row justify-content-center">

      <!-- Edit Company Form -->
      <div class="col-md-6 mt-3">
          <div class="row">
            <h2>Edit {{ data.company_name }}</h2>

            {% if user.is_authenticated %}

            <p id="edit_current_image">Current Image: {{ dbm.brand_image|safe }}</p>

            <form class="company_form" method="post" enctype="multipart/form-data" style="margin-top: 1.2em";>
                {% csrf_token %}
                {{ company_form | crispy }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>

            {% endif %}

          </div>
      </div>
  </div>

</div>

{% endblock content %}