{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
  <div class="row">

      <!-- Edit Company Form -->
      <div class="col-12 mt-3 left">
          <div class="row">
            <h2>Edit {{ data.company_name }}</h2>

            {% if user.is_authenticated %}

            <h5>Edit your company details below:</h5>

            <p>Current Image: {{ data.current_brand_image }}</p>
            <img src="https://res.cloudinary.com/daxqnc8yw/{{ dbm.brand_image }}" alt="{{ data.company_name }} brand image">
            <form class="company_form" method="post" enctype="multipart/form-data" style="margin-top: 1.2em";>
                {% csrf_token %}
                {{ company_form | crispy }}
                {{ address_form | crispy }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>

            {% endif %}

          </div>
      </div>
  </div>

</div>

{%endblock%}