{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

  <div class="container-sm mt-5 mt-sm-0 company">
    <div class="row justify-content-center">
      <!-- Edit Company Form -->

      <div class="col-md-6 mt-3">
        <div class="row">

          {% if user.is_authenticated %}
          <h2>Edit {{ data.company_name }}</h2>
          <h6>Use this form to change company information.</h6>

          <p id="edit_current_image">Current Image: {{ dbm.brand_image|safe }}</p>

          <form class="company_form" method="post" enctype="multipart/form-data" style="margin-top: 1.2em";>
            {% csrf_token %}
            {{ company_form | crispy }}
            <div class="btn-group btn-group-lg w-100 mt-4" role="group" aria-label="Form buttons">
              <a class="btn btn-success" href="{% url 'company_account' %}">All Good</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

          {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
