{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 company">
    <div class="row">
      <!-- Company Exists -->

      <div class="col-12 mt-3 left">
        <div class="row">

          {% if user.is_authenticated %}

          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> Company Name Already Exists!
          </div>

          <span>Try again <a href="{% url 'company_account' %}" aria-label="Go Back">here</a></span>
          <span>Delete account <a href="{% url 'company_delete' %}" aria-label="Delete Account">here</a></span>

          {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
