{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 company">
    <div class="row justify-content-center">
      {% if user.is_authenticated %}
      <!-- Company Form Not Valid -->

      <div class="col-10 mt-3 left">
        <div class="row">

          <div class="alert alert-danger" role="alert">
            {% for key, value in error_dict.items %}
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-sm">
                  <p>Input field: {{ key }}</p>
                </div>
                <div class="col-sm-8">
                  <p><strong>Error:</strong> {{ value }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="container">
              <div class="row justify-content-start">
                <div class="col">
                  <span>Please try again </span><a href="javascript:history.back()">here</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      {% endif %}
    </div>
  </div>

{% endblock content %}
