{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

  <div class="container-sm mt-5 mt-sm-0 company">
    <div class="row">
      <!-- Company Disapproved -->

      <div class="col-12 mt-3 left">
        <div class="row">

          {% if user.is_authenticated %}

          <h2 class="fs-1">{{ company }}</h2>
          <h3 class="fs-6">Status: {{ status }}</h3>

          <h4 class="fs-6">
            We disapproved of your company! If you believe this decision is an error, please contact us.
          </h4>
          <p>Delete account <a href="{% url 'company_delete' %}" aria-label="Delete Account">here</a></p>

          {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
