{% block content %}

  <div class="company">
    <p>Company URL: <a href="/booking/{{ slug }}" target="blank">View page</a></p>
    <p>Current brand image file: {{ previous_brand_image }}</p>
    <p>Company address:</p>
    <p>{{ company_address }}</p>
    <p>Company phone: {{ company_phone }}</p>
    <p>Available spots/seats: {{ company_spots }}</p>
    <h6  class="mb-0">About:</h6>
    <p>{{ company_description }}</p>
    <p></p>
    <p>Website: {{ company_website }}</p>
    <div class="d-grid gap-2 d-flex justify-content-md-start">
      <p>Name: </p>
      <p>{{ user_first_name }}</p>
      <p>{{ user_last_name }}</p>
    </div>
    {% if company_category %}
    <p>Category: {{ company_category }}</p>
    {% endif %}
    <p>Registered on: {{ company_registered_on }}</p>
    <div class="d-grid gap-2 d-flex justify-content-md-start">
      <p>Username: {{ user }}</p>
      <p>User id: {{ company_user_id }}</p>
      <p>Company id: {{ company_id }}</p>
    </div>
    <div class="btn-group btn-group-sm w-100 mt-1" role="group" aria-label="Account buttons">
      <a class="btn btn-secondary" href="{% url 'company_edit' %}">Edit Company Info</a>
      <a class="btn btn-danger" href="{% url 'company_delete' %}">Delete Account</a>
    </div>
  </div>

{% endblock content %}
