{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
  <div class="row">

      <!-- New Company Signup Form -->
      <div class="col-12 mt-3 left">
          <div class="row">
            <h1>New Company Profile</h1>

            {% if user.is_authenticated %}

            <h3>Please fill out your company details below:</h3>
            <form method="post" style="margin-top: 1.2em";>
                {{ company_form | crispy }}
                {{ address_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>

            {% endif %}

          </div>
      </div>
  </div>

</div>

{%endblock%}