{% extends "base.html" %}

{% block content %}

  <div class="container-sm mt-5 mt-sm-0 pt-5 pt-sm-0 px-4 px-sm-0 booking">
    <div class="row justify-content-center">
      <!-- Booking Customer Already Booked -->

      <div class="col-md-6 mt-3">
        <div class="row">

          <h2 class="px-0 error">401 Unauthorized</h2>
          <h3 class="mb-3 px-0 fs-6">Oops.. Authentication required.</h3>
          <a class="btn btn-outline-primary btn-sm" href="javascript:history.back()">Go Back!</a>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}