{% extends "base.html" %}

{% block content %}

  <div class="container-fluid booking">
    <div class="row justify-content-center">
      <!-- Booking Customer Already Booked -->

      <div class="col-md-6 mt-3">
        <div class="row">

          <h2 class="px-0 error">500 Internal Server Error</h2>
          <h6 class="mb-3 px-0">Oops.. Server encountered an unexpected condition.</h6>
          <a class="btn btn-outline-primary btn-sm" href="javascript:history.back()">Go Back!</a>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}