{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

  <!--Preconnect-->
  <link rel="preconnect" href="https://raw.githubusercontent.com/">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://cdn.jsdelivr.net">

  <!--Load favicon-->
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/daxqnc8yw/image/upload/v1661260307/static/media/favicon.a009085fa82e.ico">

  <!--Load font-->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

  <!--Primary Meta Tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="title" content="Bookable - Booking Made Simple">
  <meta name="description" content="Bookable is a Django app for companies looking to accept bookings online">
  <meta name="author" content="MT - MTraveller, https://github.com/MTraveller/bookable">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mt-bookable.herokuapp.com/">
  <meta property="og:title" content="Bookable - Booking Made Simple">
  <meta property="og:description" content="Bookable is a Django app for companies looking to accept bookings online">
  <meta property="og:image" content="https://res.cloudinary.com/daxqnc8yw/image/upload/v1661364639/static/media/social-media-card.151a46799220.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://mt-bookable.herokuapp.com/">
  <meta property="twitter:title" content="Bookable - Booking Made Simple">
  <meta property="twitter:description" content="Bookable is a Django app for companies looking to accept bookings online">
  <meta property="twitter:image" content="https://res.cloudinary.com/daxqnc8yw/image/upload/v1661364639/static/media/social-media-card.151a46799220.jpg">

  <!--Load CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha256-7ZWbZUAi97rkirk4DcEp4GWDPkWpRMcNaEyXGsNXjLg=" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% if request.path == context.booking_path %}
  <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
  {% endif %}


  <title>Bookable</title>
</head>

<body class="d-flex flex-column h-100 main-bg">

  <!-- Navigation -->
  <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-xl">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="brand">Booka<span class="thin">ble</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'company_account' %}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <span class="navbar-text signed-in">
          <span>Signed in as:
        {% if user %}
          {{ user.first_name }}
        {% else %}
          {{ context.user.first_name }}
        {% endif %}
        </span>
        {% endif %}
      </div>
    </div>
  </nav>

  <main class="container-fluid mt-sm-5 mb-5 px-0 main-bg">
    {% block content %}
    <!-- Body Content -->
    {% endblock content %}
  </main>

  <!-- Footer -->
  <footer class="footer mt-auto py-3 dark-bg">
    <div class="container-sm d-flex align-items-center gap-2 gap-md-3">
      <p class="m-0 text-center text-white">@MTraveller</p>
      <a class="ms-2 ms-md-3 text-decoration-none" href="https://github.com/MTraveller" target="_blank"><i class="fa-brands fa-square-github text-light fs-3 text fst-normal"></i></a>
      <a class="ms-2 ms-md-3 text-decoration-none" href="https://www.linkedin.com/in/mtantouri/" target="_blank"><i class="fa-brands fa-linkedin text-light fs-3 text fst-normal"></i></a>
    </div>

    <!--Load Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha256-DOneOY3n5+xj6Da3AJBkPHxaPynqSlGaZ9790gbBOsE=" crossorigin="anonymous"></script>

    {% if request.path == "/company/add/" or request.path == "/company/edit/" %}
    <!--Load Cloudinary & JS/GoogleMaps-->
    {% include 'company/cloudinary.html' %}
    {{ google_api_key|json_script:'google_api_key' }}
    <script type="text/javascript" src="https://res.cloudinary.com/daxqnc8yw/raw/upload/v1661260311/static/js/google_places.0cb348d95e8d.js"></script>
    {% endif %}

    {% if request.path == context.booking_path %}
    <!--Load DateTimePicker & JS/GoogleMaps-->
    {% load booking_tags %}
    {% include 'booking/google_api.html' %}
    {% booking_static %}
    {% endif %}

  </footer>
</body>

</html>
